@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab");
body {
  /* Inheritable properties */
  font-family: "Gabriela";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #394f49;
}

/* Basic reset */
*, *::after, *::before {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  /* Since browser default font-size is 16px */
  /* Set it to 10px to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser, or zooms the font sizes, padding  */
  /* and margins adjust accordingly. */
  /* This defines what 1rem is */
  font-size: 62.5%;
}

body {
  /* Inheritable properties */
  box-sizing: border-box;
  /* Non-inheritable */
  padding: 2rem;
}

.utilCentreText {
  text-align: center;
}

.utilMarginTopSmall {
  margin-top: 2rem;
}

.utilMarginTopMedium {
  margin-top: 4rem;
}

.utilMarginTopBig {
  margin-top: 8rem;
}

.utilMarginBottomSmall {
  margin-bottom: 2rem;
}

.utilMarginBottomMedium {
  margin-bottom: 4rem;
}

.utilMarginBottomBig {
  margin-bottom: 8rem;
}

.utilHide {
  display: none;
}

.storyText {
  background: #fffe87;
  position: relative;
  font-family: "Gabriela";
  font-size: 1.7rem;
  line-height: 2.3rem;
  border-radius: 4rem;
  padding: 1.5rem 2rem 0 2rem;
  text-align: center;
  color: #394f49;
  height: 40vh;
}

/* https://codepen.io/run-time/pen/VNRBJd */
.bubbleBottomLeft:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fffe87;
  border-right: 12px solid transparent;
  border-top: 12px solid #fffe87;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

/*https://www.w3schools.com/howto/howto_js_progressbar.asp */
#progressWrapper {
  width: 100%;
  background-color: #3F612D;
}
#progressBar {
  width: 1%;
  height: 10px;
  background-color: #F3B391;
}

.storySection {
  display: flex;
  flex-direction: column;
}
.storyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #191970;
}
.storyPicContainer {
  width: 70%;
  height: 65vh;
  display: flex;
  justify-content: center;
}
.storyBubble {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#storyPicture {
  height: 100%;
}

.speechEmoji {
  width: 25%;
  margin-bottom: auto;
  margin-top: 2rem;
}

h1 {
  color: #F3B391;
  text-shadow: 1px 1px 0px #ee9363, 2px 2px 0px #eb834c, 3px 3px 0px #e97335, 4px 4px 0px #e6641e, 4px 4px 2px #F00;
}

h2 {
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  background-color: #F3B391;
  color: #394f49;
  border: 3px solid #394f49;
  text-align: center;
  transition: all 0.2s;
}
  .btn:hover {
    /* Make the button pop up => 3D effect */
    transform: translateY(-0.5rem);
    /* Box Shadow X Y Blur Colour */
    box-shadow: 0 1rem 2rem rgba(57, 79, 73, 0.2);
}
  .btn:active {
    color: #F3B391;
    border-color: #3F612D;
    background-color: #394f49;
    /* Make the button appear to be pressed => 3D effect */
    transform: translateY(-0.1rem);
    /* Box Shadow X Y Blur Colour */
    box-shadow: 0 1rem 2rem rgba(57, 79, 73, 0.2);
}
  .btn:not(:last-child) {
    margin-right: 2rem;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

#controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

#speaker {
  width: 5rem;
  height: 5rem;
}

.invisible {
  display: none;
}
